@import "base/style.scss";

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
  }

.wrapper {
    height: calc(100vh - 60px);
    background: #000 url('../img/bg\ elements.svg') 50% / cover no-repeat; 
    font-family: 'Cyber';
}

//====================================================================================================
.header {
  background-color: #FCEE0A;
  position: fixed;
  width: 100%;
  z-index: 90;
  margin-bottom: 25px;
  font-family: $Cyberpunk;

  &::after {
    content: '';
    position: absolute;
    bottom: -39px;
    left: 0;
    width: 100%;
    height: 40px;
    background: url('../img/city-line.svg') 50% 0% / 100% no-repeat;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: rem(10) rem(15);
        gap: rem(10);
    }

    &__logo {
        @include adaptiveValue('font-size', 35, 20);
        flex: 1 1 auto;
        letter-spacing: -5px;
        font-weight: 900;
        color: #00f0ff;
        // font-family: $cyberpunkFont;
        position: relative;
        text-wrap: nowrap;
        
        &::before {
            content: 'Maryan Kvasnitsha';
            position: absolute;
            top: 0px;
            left: 0px;
            color: #000000;
            font-weight: 400;
        }
        
    }

    &__btn {
      position: relative;
      padding: rem(5);

      &:hover .header__btn-bg::before, &:hover .header__link {
        top: 3px;
        left: 3px;
      }
    }

    &__link {
      position: relative;
      color: #00f0ff;
      z-index: 50;
      padding: rem(5) rem(10);
      font-size: rem(18);
      font-family: 'Cyber';
    }

    &__btn-bg {

      &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #000;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 40%, 95% 40%, 95% 60%, 100% 60%, 100% 100%, 0 100%, 0 30%, 10% 0);
        z-index: 10;
      }

      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        background-color: #00f0ff;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 40%, 95% 40%, 95% 60%, 100% 60%, 100% 100%, 0 100%, 0 30%, 10% 0);
      }
      
    }
}
//====================================================================================================

.home {
  position: relative;
  flex: 1 1 auto;
  padding: rem(50) 0;
  height: calc(100vh - 60px);
  overflow: auto;
  color: #fff;


  // .home__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(15);
  }

  // .home__content
  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    @include adaptiveValue('margin-top', 150, 25);
    @include adaptiveValue('row-gap', 32, 12);

    & span {
      color: #FF003C;
    }
  }

  // .home__title
  &__title {
    font-weight: 900;
    @include adaptiveValue('font-size', 72, 42);
    margin: 0 rem(50) 0 0;
  }

  // .home__text
  &__text {
    font-weight: 300;
    @include adaptiveValue('font-size', 32, 22);
    padding: 0 0 rem(10) 0;
    position: relative;    
  }

  // .home__items
  &__items {
    font-size: rem(18);
  }

  // .home__item
  &__item {
    text-indent: 10px;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    &:first-child {
      margin-top: rem(10);
    }
  }

  // .home__link
  &__link  {
    color: #FF003C;
    text-decoration: underline;

    &:hover {
      color: #ff003c66;
      text-decoration: underline;
    }
  }
}

.splide {
  align-self: center;
  width: 100%;
  padding: 0 rem(40);

  @media (max-width:$mobile) {
    padding: 0;
  }

  @media (max-width:460px) {
    padding: 0 rem(40);
  }

  // .splide__track
  &__track {}

  // .splide__list
  &__list {
  }

  // .splide__slide
  &__slide {
    @include adaptiveValue('padding-bottom', 250, 150);
    position: relative;
    border: 1px solid #FCEE0A;

    &::before {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 15px;
      background-color: #FCEE0A;
      clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 55%, 49% 100%, 0 100%);
      z-index: 30;
    }

    
    &::after {
      content: '';
      top: 0;
      right: 0;
      position: absolute;
      height: 100%;
      width: 15px;
      background-color: #FCEE0A;
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 55%, 50% 50%);
      z-index: 30;
    }

  }

  &__img {
  }

  &__arrows &__arrow {
    background-color: transparent;
    & svg {
      fill: #00f0ff;
      width: rem(40);
      height: rem(40);
    }
  }

}

// ===================================================================================================

.catalog {
  background-color: #FCEE0A;
  color: #000;
  box-sizing: content-box;
  position: fixed;
  top: calc(100% - rem(50));
  left: 0;
  height: calc(100vh);
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  row-gap: rem(15);
  transition: all .3s ease;
  // overflow: auto;

  &::after {
    content: '';
    position: absolute;
    top: -39px;
    left: 0;
    width: 100%;
    height: 40px;
    background: url('../img/city-line.svg') 50% 0% / 100% no-repeat;
    transform: rotate(180deg);
    }

  &.active {
    top: 0;
    transition: all .3s ease;
  }

  // .catalog__menu
  &__menu {
    display: flex;
    column-gap: rem(10);
    height: rem(50);
    justify-content: center;
    align-items: center;
    padding: rem(5) rem(15);
  }

  // .catalog__btn
  &__btn {
    font-size: rem(18);
    padding: rem(8) rem(15);
    font-family: 'Cyber';
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #000;
    }

    &:active {
      border: 1px solid #000;
    }

    &_remove {
      width: 25px;
      height: 25px;
      padding: 0;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        transform: rotate(45deg);
      }

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        transform: rotate(-45deg);
      }

      &:hover::after, &:hover::before{
        background-color: #FF003C;
      }

      &:hover, &:active, &:visited{
        border: 1px solid transparent;
      }
    }
  }

  &__items {}

  &__item {
    display: none;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(15);
    padding: 0 rem(15);

    @media (max-width:$tablet) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width:$mobile) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width:$mobileSmall) {
      grid-template-columns: repeat(2, 1fr);
    }

    &.active {
      display: grid;
    }
  }

}

.card {
  border: 1px solid #000;
  position: relative;
  color: #000;
  overflow: hidden;
  // text-overflow: ellipsis;

  &_closed {
    &::after {
      content: 'In work...';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: rem(28);
    }
  }

  // .crad__img-ibg
  &__img-ibg {
    display: block;
    padding: 0 0 rem(350) 0;
    @include adaptiveValue('padding-bottom', 350, 150);
    transition: transform .3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
  // .card__img
  &__img {
  }

  // .card__content
  &__content {
    border-top: 1px solid #000;
    padding: rem(5);
    position: absolute;
    top: calc(100% - rem(32));
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: top .3s ease;
    // text-overflow: ellipsis;

     // Over scrollbar for menu
     &::-webkit-scrollbar {
      width: 3px;
    }

     /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

  /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #666;
    }

  /* Handle on hover */
    &:-webkit-scrollbar-thumb:hover {
      background: #555;
    }


    &.active-card {
      overflow: auto;
      top: 0;
    }
  }

  // .card__title
  &__title {
    font-size: rem(22);
    margin-bottom: rem(20);
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &::after {
      content: '>';
    }
  }

  

  // .card__text
  &__text {
    font-size: rem(18);
  }
}





