@import "base/style.scss";

  
  // ** HEADER ** 
  .header {
    background-color: #2b3a42;
    color: #fff;
  
    &__container{
      min-height: rem(72);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__logo {
      font-size: rem(20);
      font-style: italic;
      opacity: 0.6;
    }
  
    &__btn {
      font-size: rem(16);
    }
  }
  
  // ** GLOBAL ELEMENTS **
  .crib {
      // .crib__container
      &__container {
          padding: rem(15);
          display: flex;
      }
      // .crib__menu
      &__menu {
        height: 50dvh;
        min-height: 300px;
        position: sticky;
        background-color: #fff;
        z-index: 80;
        top: 10px;
        width: rem(250);
        border-left: 1px solid #f2f2f2;
        display: flex;
        flex-direction: column;
        padding: rem(20) 0;

        &:before {
          font-size: rem(20);
          margin: 0 rem(20) rem(20);
        }
    
        &._active {
          left: 0;
          transition: left .2s;
        }
        @media (max-width:$tablet) {
          position: fixed;
          top: 0;
          left: -250px;
          height: 100dvh;
          border-right: 1px solid #f2f2f2;
        }


      
  
      }
      // .crib__content
      &__body {
        overflow: auto;

  
        // Over scrollbar for menu
        &::-webkit-scrollbar {
          width: 3px;
        }
    
         /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }
    
      /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #666;
        }
    
      /* Handle on hover */
        &:-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }
  
  }
  
  // ** MENU Element ** 
  .menu-crib {


      &__wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        position: relative;
        padding: 0 rem(10);
        background-color: #fff;
        overflow: auto;


        // Over scrollbar for menu
        /* width */
        &::-webkit-scrollbar {
        width: 2px;
        } 
        /* Track */
        &::-webkit-scrollbar-track {
          background: transparent;
        } 
        /* Handle */
        &::-webkit-scrollbar-thumb {
        background: #666;
        }
        /* Handle on hover */
        &:-webkit-scrollbar-thumb:hover {
        background: #555;
        }
      }
  
      &__spoiler {
        &:not(:last-child) {
          margin-bottom: rem(10);
      }
      }
  
      &__title {
          font-weight: 600;
          font-size: rem(18);
          color: #1a6bac;
          cursor: pointer;
          display: flex;
          align-items: flex-start;
          column-gap: rem(5);
          font-weight: 400;
  
  
          &::before {   
             font-weight: 900;
             transition: transform .3s ease 0s;
          }
  
          &._spoller-active::before {
              transform: rotate(90deg);
              transition: transform .3s ease 0s;
          }
      }
  
      &__list {
          margin: 10px 0 0 20px;
          padding: 0 0 0 16px;
          position: relative;
  
          &::before {
              content: '';
              border: 1px dashed rgba(102, 102, 102, 0.5);
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
          }
      }
  
      &__item {
          position: relative;
  
          &::before {
              content: '';
              border: 1px dashed rgba(102, 102, 102, 0.5);
              position: absolute;
              top: 50%;
              left: -15px;
              width: 11px;
          }
  
          &:not(:last-child) {
            margin-bottom: rem(20);
          }
  
      }
  
      &__link {
          font-family: $fontFamily;
          font-weight: 300;
          font-size: rem(14);
          color: #666;
      }
  
      &__btn {
        font-weight: 700;
        font-size: rem(20);
        color: #c8c8c8;
        display: flex;
        text-align: center;
        column-gap: rem(8);
        padding: rem(10) 0 0 rem(10);

        @media (max-width:$tablet) {
          align-self: center;;
          padding: rem(10) 0 0;
        }
  
        &:hover {
          color: #3377FF;
        }
  
        &:before {
          font-weight: 900;
        }
      }
  
      &__show {
        display: none;

        @media (max-width:$tablet) {
          display: block;
          position: absolute;
          top: rem(60);
          right: -30px;
          width: 60px;
          height: 60px;
          z-index: -1;
          background-color: #fff;
          font-size: rem(24);
          font-weight: 700;
          cursor: pointer;
          border-radius: 50%;
          border: 1px solid #f2f2f2;
        }

        &::before {
          position: absolute;
          top: 16px;
          left: 30px;
        }
      }
  }
  
  // ** BODY Element**
  
  // Crib create panel
  .crib-chapter {
    position: relative;
  
  
    & > *:not(:last-child) {
      margin-bottom: rem(20);
    }
  
    &__title {
      position: relative;
      display: block;
      font-weight: 600;
      @include adaptiveValue("font-size", 33, 20);
      line-height: 133%;
      color: #1a6bac;
      outline: none;
      text-align: center;
      margin-top: rem(50);
      // font-family: 'Source Serif Pro'; 
  
      &::before {
        content: '~ ';
      }
  
      &::after {
        content: ' ~';
      }
  
      ._crib-edit &::before{
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 25%;
        height: 55%;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
      }
  
      ._crib-edit &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 25%;
        height: 55%;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
      }
  
      ._crib-edit & {
        padding: rem(5) rem(10);
        display: inline-block;
        margin-top: rem(25);
      }
  
    }
  
    &__edit {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: rem(12);
      position: absolute;
      top: -40px;
      right: 0;

      ._crib-edit & {
        top: 0;
      }
    }
  
    &__content {}
  
    &__menu {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: rem(35);
      visibility: hidden;
      opacity: 0;
      @media (max-width:$mobile) {
        justify-content: center;
      }
  
      ._crib-edit & {
        opacity: 1;
        visibility: visible;
      }
    }
  
    &__left {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(20);
      color: #3377FF;
   
  
      @media (max-width:$mobile) {
        justify-content: center;
      }
    }
  
    &__right {
      display: flex;
      gap: rem(20);
    }
  
    &__btn {
      display: flex;
      align-items: center;
      font-size: rem(16);
      column-gap: rem(5);
      border-bottom: 1px solid transparent;
      padding: rem(5) rem(1);
  
      &::before {
        font-size: rem(18);
      }
  
      &:hover {
        color: #94a8d0;
      }
  
      &_remove {
        display: none;
        color: #E26767;
        font-size: rem(14);
        padding: 0;
  
        &::before {
          transform: rotate(-45deg);
          font-size: rem(24);
        }
  
        &:hover {
          color: #eba2a2;
        }
  
        ._crib-edit & {
          display: flex;
        }
      }
  
      &_edit {
        font-size: rem(14);
        padding: 0;
  
        &:hover {
          color: #3377FF;
        }
  
        &::before {
          font-size: rem(24);
        }
    
      }
  
      &_save {
        color: #7FD688;
  
        &:hover {
          color:#bbf4c2;
        }
      }
  
      &_clear {
        color: #E26767;
  
        &:hover {
          color: #f6aeae;
        }
      }
    }
  
    &__order {
      position: relative;
      height: rem(24);
      width: rem(42);
      display: flex;
      justify-content: flex-start;
      border: 1px solid #b0b0b0;
      border-radius: 45px;
      cursor: pointer;
      transition: all .3s ease;
  
      &_check {
        display: none;
      }
  
      &_indicator {
        position: absolute;
      top: 0;
      left: 100%;
      color: #fff;
      padding: rem(3);
      border-radius: 50%;
      transition: all .3s ease;
      background-color: #b0b0b0;
      transform: translate(-100%);
  
      ._crib-check &{
        transition: all .3s ease;
        background-color: #7FD688;
        left: 0;
        transform: translate(0);
      }
      }
      
      &._crib-check {
        border: 1px solid #7FD688;
        transition: all .3s ease;
      }
    }
  }
  
  
  // Crib create content
  .crib-panel {
  
    // .crib-panel__item
    &__item {
      position: relative; 
      border: 1px solid transparent;
      line-height: 122%;
      letter-spacing: 0.01em;
      font-size: rem(16);
      margin: 0 0 15px 0;
      color: #32434A;
  
     
      ._crib-edit &{
        border: 1px solid #000; 
        padding: rem(10) rem(5);
        margin: 0 0 30px 0;
      }
  
      &_import {
        position: relative;
  
        background-color: #EAF8FF;
        padding: rem(10) rem(8);
  
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 3px;
          height: 100%;
          background-color: #1EB4FF;
        }
      }
  
      &_text {
      }
  
      ._crib-edit &_code {
        padding: 0;
        border: 1px solid #fff;
      }
  
      &_title {
        font-weight: 600;
        font-size: rem(33);
        margin: rem(50) 0 rem(25);
        font-family: 'Source Serif Pro'; 
  
      }
  
      ._crib-edit &_title {
        margin: 0 0 rem(30) 0;
      }
  
      &_code {
      }
  
  
      
    }
    // .crib-panel__menu
    &__menu {
      display: none;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 1px;
      padding: 0 8px;
      background-color: #fff;
      position: absolute;
      top: -24px;
      right: 15px;
      z-index: 50;
      
      ._crib-edit & {
        display: flex;
      }
    }
  
    // .crib-panel__btn
    &__btn {
      color: #000;
      background-color: transparent;
      border: 1px solid transparent;
      &::before {
        @include adaptiveValue(font-size, 24, 18)
      }
  
      &:hover {
        color: #3377FF;
        transform: scale(1.1);
      }
  
      &.cribActive {
        background-color: #e0e9ff;
        border: 1px solid #dddddd;
      }
  
      &_remove {
        color: #E26767;
        transform: rotate(-45deg);
  
        &:hover {
          transform: scale(1.1) rotate(-45deg);
          color: #ec9797;
        }
      }
    }
  
    // .crib-panel__content
    &__content {
      line-height: 133%;
      outline: none;
  
      & a{
        color: #7fc5ff;
      }
    }
  
  }
  
  
  // ** Code styles **
    .CodeMirror {
      padding: rem(20) 0;
      height: auto;
      border: 1px solid #ddd;
      font-size: 16px;
      font-family: 'Fira Code', monospace;
      background-color: #272822;
      color: #f8f8f2;
    }
    .CodeMirror-cursor {
      border-left: 2px solid #f8f8f2 !important;
    }
    .CodeMirror-selected {
      background-color: rgba(255, 255, 255, 0.1) !important;
    }
    .CodeMirror-gutters {
      background-color: #272822 !important;
      border-right: 1px solid #444;
    }
    .CodeMirror-linenumber {
      color: #75715e !important;
    }
  
  